# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab

# Visual Studio demands 2-spaced project files
[*.{csproj,props,targets}]
indent_style = space
indent_size = 2

[*.cs]
# Analyzer severity
dotnet_diagnostic.IDE0130.severity = none  # We use folders for organization, not to indicate namespaces
